<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo list app</title>
</head>
<body>
    <div>
        <h1>
            <%= title %>
        </h1>
    </div>

    <div>
        <form action="/create-task" method="post">
            <input type="text" name="task" placeholder="Tasks to be added" required >
            <input type="submit" value="Add task">

        </form>
    </div>
</body>
</html>