body{
    /* background-color: ; */
    margin: 0;
    font-family: sans-serif;
}
.d-grid{
    display: grid;
    place-items: center;
}
.w460{
    width: 460px;
}
main{
    box-shadow: inset 0px 0px 10px 2px #682ee6;
    border-radius: 10px;
    margin: 100px auto;
    min-width: 250px;
}

main{
    margin-bottom: 35px;
}

.display-todo{
    margin: 10px;
}
input[type="text"]{
    width: 100%;
}

input[type="search"]{
    width: 460px;
    min-width: 300px;
    border-bottom: 3px solid grey;
    font-size: 1.3em;
    font-weight: 800;
    border-radius: 5px;
}

input[type="search"]::placeholder{
    padding-left: 10px;
    color: #682ee6;
}

input{
    border: none;
    padding: 1rem 0;
}

select{
    border: none;
    padding: 1rem 0;
}
.label{
    font-size: .8em;
    font-family: 900;
    color: grey;
}

.label-desc{
    display: block;
}

.cat-date{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

button{
    padding: 1rem 1.5rem;
}

.btn-hold{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}
button{
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 34% 3% 12% 99% / 58% 31% 80% 33%;
}

button:hover{
    box-shadow: inset 0px 0px 10px 2px black;
}

.add-btn{
    background-color: #682ee6;
}

.add-btn::before{
    content: '\2b';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.del-btn{
    background-color: red;
}

.del-btn::before{
    content: '\f1f8';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

li{
    list-style: none;
    color: rgb(94, 94, 94);
    font-weight: 600;
}

li:hover{
    cursor: pointer;
    background-color: rgb(184, 184, 184);
}

li i{
    font-size: .7em;
}

li p{
    margin-right: 10px;
}

.category{
    border-radius: 5px;
    color: white;
    padding: .5rem .5rem;
    background-color: rgb(255, 77, 0);
    position: relative;
    left:260px;
    bottom: 20px;
}

.del-area{
    position: relative;
    right: 40px;
    bottom: 60px;
}

.del-area a{
    text-decoration: none;
    color: red;
}

/* when task is completed then mark it */
.task-completed{
    opacity: .9;
    text-decoration: line-through;
}